/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

@font-face { 
    font-family: "DM-Sans-italic";
    src: url("../assets/fonts/DMSans-Italic-VariableFont_opsz\,wght.woff2") format("woff2");
    font-display: swap;
    font-style: italic;
}

@font-face { 
    font-family: "DM-Sans";
    src: url("../assets/fonts/DMSans-VariableFont_opsz\,wght.woff2") format("woff2");
    font-display: swap;
    font-style: normal;
}


/* ======== Utility Classes ========= */

.card { 
  border-radius: 10px;
  padding: 1.5rem;
}

:root { 
    /* ---------- Colors ---------- */
    --Purple-100: hsl(255, 88%, 90%); 
    --Purple-500: hsl(256, 67%, 59%); 
    --Yellow-100: hsl(31, 66%, 93%); 
    --Yellow-500: hsl(39, 100%, 71%); 
    --White: hsl(0, 0%, 100%); 
    --Black: hsl(0, 0%, 7%); 


    /* ---------- Spacing ---------- */ 
    --Spacing-xs: 0.5rem; /* 8px */ 
    --Spacing-s: 0.75rem; /*  12px */
    --Spacing-m: 1rem; /* 16px */ 
    --Spacing-xxl: 2rem; /* 24xp */ 
}


body { 
  min-height: 100dvh;
  background-color: #F5F5F5;
  display: grid; 
  justify-items: center;
  font-family: "DM-Sans";
  padding: 1em;
}

.bento-contianer { 
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
}

.bento__card-1 { 
  background-color: var(--Purple-500); 
  text-align: center; 
  color: var(--White);
}

.bento__card-1 h1 { 
  font-size: clamp(1.5rem , 2rem + 2.5vw, 2.8rem);
  line-height: 1.1;
  margin-bottom: var(--Spacing-s);
}

.bento__card-1 img { 
  width: 250px;
  margin: 0 auto;
  margin-bottom: var(--Spacing-xs);
}

.bento__card-1 p { 
  font-size: 1.3rem;
}

.text-highlight { 
  color: var(--Yellow-500);
}

.bento__card-2 { 
  background-color: var(--White);
}

.bento__card-2 h2 { 
  font-size: 24px; 
}

.bento__card-3 { 
  background-color: var(--Yellow-500);
}

.bento__card-3 img { 
  width: 50%;
  margin-top: var(--Spacing-m);
}

.bento__card-4 { 
  background-color: var(--Purple-100);
}

.bento__card-4 img { 
  padding: 1rem;
}

.bento__card-4 p { 
  text-align: center;
  font-size: 1.2rem;
}

.bento__card-5 { 
  background-color: var(--Purple-500);
  color: var(--White);
  padding: 2rem 3rem;
}

.bento__card-5 h2 { 
  text-align: center;
  font-size: clamp(1.2rem , 1.5rem + 1vw , 1.8rem);
}

.bento__card-6 { 
  background-color: var(--White);
}

.bento__card-6 h2 { 
  font-size: 3rem;
}
.bento__card-6 p { 
  font-size: 1.2rem;
}

.bento__card-6 img { 
  width: 60%;
  margin-top: var(--Spacing-s);
}

.bento__card-7 {
  background-color: var(--Yellow-100);
}

.bento__card-7 h2 { 
  font-size: 2rem;
}

.bento__card-7 img { 
  width: 60%;
  margin-top: var(--Spacing-m);
}

.text-highlight-2 { 
  font-style: italic;
  color: var(--Purple-500);
}

.bento__card-8 { 
  background-color: var(--Yellow-500);
}

.bento__card-8 h2 { 
  font-size: 1.75rem;
}

.bento__card-8 img { 
  width: 80%;
  margin-top: var(--Spacing-s);
}


/* ====== Tablet ======= */

@media (min-width: 700px) { 
  .bento-contianer { 
    grid-template-columns: 1fr 1fr;
  }

  .bento__card-3 img {
    width: 100%;
  } 
}

/* ====== Desktop ======== */

@media (min-width: 1000px) { 
  body { 
    place-items: center;
  }
  .bento-contianer { 
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 1100px;
    grid-template-areas: 
    "left-top cen-tp cen-tp rig-side"
    "left-top cen-mid1 cen-mid2 rig-side"
    "left-btm cen-mid1 cen-mid2 rig-side"
    "left-btm btm-cen btm-rig btm-rig";
  }

  .bento__card-1 { 
    grid-area: cen-tp;
  }

  .bento__card-2 { 
    grid-area: cen-mid1;
  }

  .bento__card-2 h2 { 
    font-size: 2rem;
  }

  .bento__card-2 img { 
    height: 30%;
    object-fit: contain;
  }

  .bento__card-3 { 
    grid-area: cen-mid2;
  }

  .bento__card-3 img { 
    margin: 1rem auto;
    width: 100%;
  }

  .bento__card-4 { 
    grid-area: rig-side;
    display: grid;
  }

  .bento__card-4 h2 { 
    font-size: 2.1rem;
  }

  .bento__card-4 p { 
    text-align: left;
  }

  .bento__card-5 { 
    grid-area: btm-rig;
    display: flex;
    align-items: center;
  }

  .bento__card-5 img { 
    width: 50%;
  }

  .bento__card-6 { 
    grid-area: btm-cen;
    display: grid; 
  }

  .bento__card-7 { 
    grid-area: left-top;
    display: grid;
    place-items: center;
  }

  .bento__card-7 img { 
    width: 100%;
  }

  .bento__card-8 { 
    grid-area: left-btm;
  }

  .bento__card-8 img { 
    width: 100%;
  }
  .bento__card-8 h2 { 
    font-size: 2.5rem;
  }
}


